nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    div.navbar-brand
      i.bi.bi-hexagon-half
      |  Whatsapp Api
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='.navbar-collapse')
      span.navbar-toggler-icon

    .collapse.navbar-collapse
      .dropdown-divider
      ul.nav.navbar-nav.mr-auto
        li.nav-item(class=(title === 'Qr Code') ? 'active' : undefined)
          a.nav-link(href=`${pathBase}/qr`) Qr Code
        li.nav-item(class=(title === 'Status') ? 'active' : undefined)
          a.nav-link(href=`${pathBase}/status`) Status
        